<!DOCTYPE html>
<html>
<head>
  <title>Data Sent to and from the Server</title>
  <script src="https://npmcdn.com/vue@latest/dist/vue.js"></script>
  <script src="https://npmcdn.com/vue-resource@0.9.3/dist/vue-resource.min.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" placeholder="your name" v-model="test_text.first_string">
    <input type="text" placeholder="some data about you" v-model="test_text.second_string">
    <button type="submit"  v-on:click="sendData">Send Data to Server</button>
    <p v-show='your_name'>
      Thanks for your submission, {{your_name}}
    </p>
  </div>
  <script>
    new Vue({
      el: '#app',

      data:{
        test_text: {first_string:'', second_string: ''},
        your_name: null
      },

      methods:{
        sendData: function(){
          console.log("send button pressed");

          this.$http.post('/the_great_mythical_api_endpoint', this.test_text).then((response) => {
              console.log(response.json().status);
              this.your_name= response.json().name;
            }, (response) => {
              // error callback
              console.log("was not able to send data");
          });

        }
      }

    })
  </script>
</body>
</html>
